:root {
    --back: rgb(0, 0, 0);
    --back2: hsl(0, 0%, 20%);
    --foredark: hsla(0,0%,10%,1);
	--forelight: hsla(0,0%,100%,1);
	--border: hsla(0,0%,20%,.8);
	--borderlight: hsla(0,0%,33%,.3);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
}

body {
    font-family: 'Montserrat', 'Bradley Hand', sans-serif;
    background-color: #f0f0f0;
    color: #222222;
}

.icon {
    width: 200px;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 10px;
}

footer img {
    width: 70px;
}

a {
    text-decoration: none;
}

.overlay {
    left: 0;
    bottom: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    overflow: hidden;
    backdrop-filter: blur(8px) brightness(80%);
    transition: all .3s ease-in-out;
    position: absolute;
}

.overlay h3 {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

.hero:hover .overlay {
    bottom: 0;
    height: 100%;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.hero {
    margin: 10px auto;
    position: relative;
}

.overlay a {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: #000000;
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    list-style: none;
    background-color: #201E20;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: #ccc;
    color: #000000;
    font-weight: 700;
    text-decoration: underline;
    margin: 0 10px;
}

.active::before,
.active::after {
    content: "|"; 
}

.dropdown-notification {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    transition: top .3s;
    background-color: #222222;
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    padding: 50px 30px 30px 30px;
}

.dropdown-notification a {
    text-decoration: none;
}

.dropdown-notification.disabled {
    top: -400px;
}

h3 {
    background-color: #69e4ff;
    padding: 15px;
    margin: 0;
    text-align: center;
}

.card,
#today,
#tomorrow {
    border: 1px solid #ccc;
    margin: 10px 0 10px 0;
    padding: 20px;
}

.links {
    text-align: center;
}

h2 {
    background-color: #222222;
    padding: 15px;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 30px;
}

#weather {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-transform: capitalize;
}

#weather img {
    height: 90px;
    width: auto;
    margin-bottom: -30px;
}

ol {
    list-style-type: circle;
}

li {
    font-size: larger;
    margin: 10px 0 10px 0;
}

.info {
    margin: 20px 20px 20px 20px;
    font-size: 30px;
    text-align: center;
}

.info a {
    color: #000000;
}

table {
	margin: 10px auto 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
}

tr:first-child th, .highlight {
	background-color: var(--back);
	color: var(--forelight);
}

th, td {
    padding-top: 10px;
    padding-bottom: 10px;
	border: 1px solid var(--borderlight);
}

th {
	background-color: var(--back2);
	font-size: larger;
    color: white;
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}

.agreement {
    border: 1px solid #ccc;
    margin: 10px 10px 10px 10px;
    padding: 20px;
    padding-bottom: 10px;
}

fieldset {
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: 10px 10px 10px 10px;
    padding: 20px;
    padding-bottom: 10px;
}

legend {
    color: #222222;
    padding: 0 .5rem;
}

label {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .9rem;
}

fieldset div {
    padding-top: 1rem;
    color: black;
    font-size: .9rem;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
select,
input[type="number"],
textarea {
    background-color: #eee;
    display: block;
    border: solid 1px lightgray;
    border-radius: 6px;
    padding: .75rem;
    color: grey;
    width: 100%;
    max-width: 380px;
    appearance: none;
}

input[type="submit"] {
    background-image: linear-gradient(#69e4ff, white);
    color:black;
    border-radius: 6px;
    padding: .8rem;
    max-width: 400px;
    width: 96%;
    margin: 2rem 3% 2rem 1%;
    box-shadow: 1px 1px 4px grey;
}

input:required {
    border-right: solid 8px red;
}

input:required:valid {
    border-right: solid 8px green;
}