@media screen and (max-width: 1200px) and  (min-width: 600px) {
    .events-and-weather {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 10px;
        padding: 20px;
    }

    #menu {
        display: none;
    }

    nav {
        background-color: #201E20;
        padding: 10px;
        display: flex;
        flex-direction: row;
    }
    
    nav a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
        text-align: center;
        display: block;
    }
    
    nav a:hover {
        color: #000000;
        background-color: #ccc;
        text-decoration: underline;
        margin: 0 10px;
    }
}